* {margin:0;
padding:0;}

body {background-color:#292929;}



#wrapper {position:relative;
	width:960px;
	min-height:1000px;
	margin:0 auto; 
	padding:0;
}

#header {position:absolute;
		top: 50px;}

#drawing {margin:0 auto;
	width:75%;
	height:1000px;
	background-color:red;

}

#base {position:absolute;
	width:400px;
	height:200px;
	background-color:blue;}



