<style>
*{
   margin:0;
   padding:0;
}

 body{font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        background:#7c7c7c;
 		}

#wrapper {
	margin-right:auto;
	margin-left: auto;
	width:500px;}

header {margin-top:30px;
	font-size:25px;
	color:white;
}

#main-content {margin-top:50px;
width:500px;}


.example {display:block;
		width:500px; 
		margin-bottom: 20px;}

	.title {margin-top:0px;
		font-size:16px;
		color:white;}

	.exampletext{
		display: block;
		width:220px;
		margin-right:0px;
		float: right;} 

	.exampletext p {line-height:20px;}

#clear{clear:both;}

</style>