* {
  margin: 0;
  padding: 0;
}

.navcontainer {background-color:#56c4dc;
width:100vw;
height:160px;

}

.title{ width:400px;
margin: 0 auto;
position:relative;
top:50px;}

.titletext {color: white;
	font-family: 'Josefin Slab', sans-serif;
font-size:40px;
text-align:center;}

.filters{
	
width:1050px;
position:relative;
top:30px;
margin: 0 auto;}

.filterslist{
position: relative;
top:50px;
width:1050px;
margin:0 auto;}

.filter {
font-family: 'Open Sans', sans-serif;
color: white;
float:left;
text-decoration:none;
list-style-type: none;
margin:10px;
padding:10px;
}

.authormenu {width: 190px;
min-height:200px;
background-color: #56c4dc;
position:relative;
top: 100px;
left:0px;
z-index:2;
padding-left: 25px;
display:none;
}

.authormenu ul {position:relative;
  top:-50px;
}

.authormenu ul li {color:white;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  list-style-type: none;
  line-height: 25px;
  position:relative;
  top: 20px;
  cursor:pointer;
  ;}

.authormenu ul li:hover {color:gray;}


.authormenushow{display:block;}


.publishedmenu {width: 145px;
min-height:200px;
background-color: #56c4dc;
position:relative;
top: 100px;
left:120px;
z-index:2;
padding-left: 25px;
display:none;
}

.publishedmenu ul {position:relative;
  top:-50px;
}

.publishedmenu ul li {color:white;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  list-style-type: none;
  line-height: 25px;
  position:relative;
  top: 20px;
  cursor:pointer;
  ;}

.publishedmenu ul li:hover {color:gray;}


.publishedmenushow{display:block;}


.genremenu {width: 145px;
min-height:200px;
background-color: #56c4dc;
position:relative;
top: 100px;
left:300px;
z-index:2;
padding-left: 25px;
display:none;
}

.genremenu ul {position:relative;
  top:-50px;
}

.genremenu ul li {color:white;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  list-style-type: none;
  line-height: 25px;
  position:relative;
  top: 20px;
  cursor:pointer;
  ;}

.genremenu ul li:hover {color:gray;}


.genremenushow{display:block;}

.startedmenu {width: 145px;
min-height:50px;
background-color: #56c4dc;
position:relative;
top: 90px;
left:560px;
z-index:2;
padding-left: 25px;
display:none;
}

.startedmenu ul {position:relative;
  top:-50px;
}

.startedmenu ul li {color:white;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  list-style-type: none;
  line-height: 25px;
  position:relative;
  top: 20px;
  cursor:pointer;
  ;}

.startedmenu ul li:hover {color:gray;}


.startedmenushow{display:block;}

.locationmenu {width: 130px;
min-height:200px;
background-color: #56c4dc;
position:relative;
top: 100px;
left:410px;
z-index:2;
padding-left: 25px;
display:none;
}

.locationmenu ul {position:relative;
	top:-50px;
}

.locationmenu ul li {color:white;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
 	list-style-type: none;
 	line-height: 25px;
 	position:relative;
 	top: 20px;
 	cursor:pointer;
	;}

.locationmenu ul li:hover {color:gray;}


.locationmenushow{display:block;}

.down{
position:relative;
top:8px;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid white;
float:right;
margin-left:10px;
cursor:pointer;
}

.search {font-family: 'Open Sans', sans-serif;
color: white;
text-decoration:none;
list-style-type: none;
float:left;
margin:10px;
padding:10px;
}

.searchbar {border: 1px solid white;
width: 200px;
height:25px;
padding-left:10px;
float:right;
position:relative;
bottom:4px;
margin-left:20px;}

.collectioncontainer {
height:100vh;
width:100vw;
margin: 0 auto;
}


.bookscontainer{
width:840px;
height:100vh;
margin: 0 auto;
padding:50px;}


.book {background-color:blue;
width: 150px;
height:200px;
position:relative;
float:left;
margin: 30px;
cursor:pointer;
opacity:0.5;
}


.book:hover {
opacity:1.0;
}


.overlay {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.7);
  z-index: 3;
  display:none;
}


.modal {
  width: 800px;
  min-height:400px;
  position: fixed;
  top: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:white;
  padding:40px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius:10px;
  z-index:4;
  display:none;
  max-height:90%;
  overflow:auto;
}

.title {  font-family: 'Josefin Slab', sans-serif;
color: gray;
font-size:25px;
float:right;
position:absolute;
top:40px;
left:400px;
}

.large {display:block;
width:300px;}

.info {font-family: 'Open Sans', sans-serif;
color: gray;
font-size:15px;
line-height:28px;
float:right;
margin:3px;
}

.infobox {width:300px;
height:200px;
float:right;
position: absolute;
top:80px;
left:280px;}

.clear{clear:all;}