* {
  margin: 0;
  padding: 0;
}

.navcontainer {background-color:white;
width:100vw;
height:200px;
border-bottom: 1px solid black;
}

.title{ width:400px;
margin: 0 auto;
position:relative;
top:50px;}

.titletext {color:#56c4dc;
	font-family: 'Josefin Slab', sans-serif;
font-size:40px;
text-align:center;}

.filters{
	
width:1050px;
position:relative;
top:30px;
margin: 0 auto;}

.filterslist{
position: relative;
top:50px;
width:1050px;
margin:0 auto;}

.filter {
font-family: 'Open Sans', sans-serif;
float:left;
text-decoration:none;
list-style-type: none;
margin:10px;
padding:10px;
}

.author {}

.down{
position:relative;
top:8px;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #56c4dc;
float:right;
margin-left:10px;

}

.search {font-family: 'Open Sans', sans-serif;
text-decoration:none;
list-style-type: none;
float:left;
margin:10px;
padding:10px;
}

.searchbar {border: 1px solid black;
width: 200px;
height:25px;
float:right;
position:relative;
bottom:4px;
margin-left:20px;}

.collectioncontainer {
height:100vh;
width:100vw;
margin: 0 auto;
}


.bookscontainer{
width:840px;
height:100vh;
margin: 0 auto;
padding:50px;}


.book {background-color:blue;
width: 150px;
height:200px;
position:relative;
float:left;
margin: 30px;
}

.book1 {
background-image:url("images/civil_disobedience.jpg");}

.book2 {
background-image:url("images/communist_manifesto.jpg");}


.book3 {background-image:url("images/persuasion.jpg");}

.book4 {background-image:url("images/the_jungle.jpg");}

.book5 {background-image:url("images/wives_and_daughters.jpg");}

.bookhover {background-color:#56c4dc;
	opacity:0.8;
width:150px;
height:200px;
display: none;}


.clear{clear:all;}